body{
	background-color: #555555;
	margin:10px;
}
.titulo {
	color: #ffffff;
	width: 500px;
	margin: 0 auto;
	font-family: "Calibri";
}
.titulo h1{
	margin: auto 0;
}
.titulo h2{
	margin: 0 auto;
	color: #cccccc;
}
.menu-list{
	background-color: #ff8700;
	color: #ffffff;
	margin: 0 auto;
}
.menu-list ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0 5px;
}
.menu-list ul li{
	padding: 10px 15px;
	font-weight: bold;
}